<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/newsicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/newsicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CollectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NewsActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />/>
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.NewsApp.FullScreen">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>